{
  "plugins": ["transform-object-rest-spread"],
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": [
          "chrome >= 43",
          "firefox >= 48",
          "ie >= 11",
          "safari >= 8"
        ]
      }
    }]
  ]
}